body,html{
    margin: 0;
    padding: 0;
    background-color: orange;
    overflow-x: hidden;
}
.menu{
    width: 20%;
    float: left;
}
.window{
    width: 80%;
    float: left;
}
.header{
    padding-top: 15px;
    height: 150px;
    background-color: chartreuse;
}
.content{
    text-align: center;
    width: 100%;

    padding-top: 50px;
    min-height: 650px;
    background-color: gray;
}
.footer{
    padding-top: 15px;
    height: 150px;
    background-color: chartreuse;
}
.formCars{
    padding: 20px;
    width: 200px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid white;
    border-radius: 20px;
}
.calcForm{
    padding: 20px;
    width: 450px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid white;
    border-radius: 20px;
}
.ContactForm{
    padding: 20px;
    width: 450px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid white;
    border-radius: 20px;
}
.sigma{
    padding: 20px;
    width: 450px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid white;
    border-radius: 20px;
}
.BtnButton{

}
.wynik{
    padding: 20px;
    width: 250px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid white;
    border-radius: 20px;
}
.contact-form {
    width: 100%;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
}
.contact-form h2 {
    margin-bottom: 20px;
}
.contact-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}
.contact-form input[type="text"], .contact-form input[type="submit"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.contact-form input[type="submit"] {
    background-color: #5cb85c;
    color: white;
    border: none;
    cursor: pointer;
}
.contact-form input[type="submit"]:hover {
    background-color: #4cae4c;
}
