html, body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.all{
    border: 2px solid red;
    border-radius: 25px;
    width: 600px;
    height: auto;
    padding: 15px;
    margin: auto;
}
.Osoby10_18{
    border: 2px solid green;
    border-radius: 25px;
    width: 600px;
    height: auto;
    padding: 15px;
    margin: auto;
}
.Osoby19_50{
    border: 2px solid blue;
    border-radius: 25px;
    width: 600px;
    height: auto;
    padding: 15px;
    margin: auto;
}